description "Kube-Proxy service"
author "@jainvipin"

respawn

#start on started flanneld
#stop on stopping flanneld

start on startup
stop on shutdown

limit nofile 65536 65536

pre-start script
	KUBE_PROXY=/usr/bin/$UPSTART_JOB
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	if [ -f $KUBE_PROXY ]; then
		exit 0
	fi
    exit 22
end script

script
	KUBE_PROXY=/usr/bin/$UPSTART_JOB
	KUBE_PROXY_OPTS=""
	if [ -f /etc/default/$UPSTART_JOB ]; then
		. /etc/default/$UPSTART_JOB
	fi
	exec "$KUBE_PROXY" $KUBE_PROXY_OPTS
end script
