apiVersion: v1
kind: Pod
metadata:
  name: {{ ETCD_NAME }}
spec:
  restartPolicy: {{ ETCD_RESTARTPOLICY }}
  volumes:
    - name: etcd-storage
      hostPath:
        path: {{ ETCD_STORAGE_PATH }}
  containers:
    - name: {{ ETCD_NAME }}
      image: {{ ETCD_IMAGE }}
      imagePullPolicy: IfNotPresent
      resources:
        limits:
          cpu: {{ RESOURCE_LIMIT_CPU }}
          memory: {{ RESOURCE_LIMIT_MEMORY }}
        requests:
          cpu: {{ RESOURCE_REQUIRE_CPU }}
          memory: {{ RESOURCE_REQUIRE_MEMORY }}
      command:
        - /usr/local/bin/etcd
        - --name
        - {{ ETCD_NAME }}
        - --listen-peer-urls
        - http://0.0.0.0:2380
        - --advertise-client-urls
        - http://{{ HOST_IP }}:2379,http://{{ HOST_IP }}:4001
        - --listen-client-urls
        - http://0.0.0.0:2379,http://0.0.0.0:4001
        - --initial-advertise-peer-urls
        - http://{{ HOST_IP }}:2380
        - --initial-cluster-token
        - {{ ETCD_CLUSTER_TOKEN }}
        - --initial-cluster
        - {{ ETCD_INITIAL_CLUSTER }}
        - --initial-cluster-state
        - {{ ETCD_CLUSTER_STATE }}
        - --data-dir
        - /var/etcd/data
      ports:
        - containerPort: 4001
          hostPort: 4001
        - containerPort: 2379
          hostPort: 2379
        - containerPort: 2380
          hostPort: 2380
      volumeMounts:
        - name: etcd-storage
          mountPath: /var/etcd/data